@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@source "../views/**/*.ejs";

@theme {
  --breakpoint-sm: 31rem;
  --breakpoint-md: 56rem;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

#modal-folder {
  width: 200px;
  height: 200px;
}

#dropdownMenu {
  max-height: 200px;
  overflow-y: auto;
}

#link-logout:hover {
  color: gray;
}
