@layer theme, base, components, utilities;

@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  font-family: "Helvetica Neue", sans-serif;
}

#modal-folder {
  width: 200px;
  height: 200px;
}

#close-modal-btn-folder {
  width: 16px;
  height: 16px;
}

#dropdownMenu {
  max-height: 200px;
  overflow-y: auto;
}

a:hover {
  color: gray;
}
